<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <listeners>
		 <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
  <test thread-count="5" name="Test">
    <classes>
	<class name="CustomMenuTests.CustomMenuTest"/>
	
      <class name="CustomMenuTestcase.TC01_AddVerifyAndCancelPradhanMantriSurakshaBimaYojna"/>
      <class name="CustomMenuTestcase.TC02_AddPradhanMantriSurakshaBimaYojnaAndCancleBeforeVerification"/>
      <class name="CustomMenuTestcase.TC03_ModifyPradhanMantriSurakshaBimaYojnaWhichIsAlreadyAdded"/>
      <class name="CustomMenuTestcase.TC04_DeletePradhanMantriSurakshaBimaYojnaWhichIsModified"/>
      <class name="CustomMenuTestcase.TC05_InquirePradhanMantriSurakshaBimaYojnaWhichIsDeleted"/>
      <class name="CustomMenuTestcase.TC06_InquirePradhanMantriSurakshaBimaYojnaOfModified"/>
      <class name="CustomMenuTestcase.TC07_VerifyPradhanMantriSurakshaBimaYojnaWhichIsAlreadyAdded"/>
      <class name="CustomMenuTestcase.TC08_AddVerifyAndDeletePradhanMantriSurakshaBimaYojna"/>
      <class name="CustomMenuTestcase.TC09_FullCycleOfPradhanMantriSurakshaBimaYojna"/>

    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
