<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="FunctionalityTesting" verbose="1" parallel="false">

    <listeners>
        <listener class-name="Utilities.TestReportListener"/>
    </listeners>

    <test name="FunctionalityTesting">
        <classes>
        
            <class name="PaymentTestCases.TC05_BookForwardContractToTheSavingsAccount"/>
            <class name="PaymentTestCases.TC07_ExtendAForWardContractToTwoYears"/>
            <class name="PaymentTestCases.TC17_InquireTheForwardContractWhichIsBooked"/>
            <class name="PaymentTestCases.TC19_CloseForwardContractWhichIsHavingBalance"/>
                      
        </classes>
    </test>

</suite>
