<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
     <class name="FederalBank_TestCases.TC02_IssuingdocumentaryCreditMaintenance"/>
       <class name="FederalBank_TestCases.TC09_CopyingDocumentaryCredit"/>
             <class name="FederalBank_TestCases.TC10_AdviseDocumentaryCredit"/>
      <class name="FederalBank_TestCases.TC11_AmendingDocumentaryCredit"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
