<?xml version="1.0" encoding="UTF-8"?>
<suite name="FunctionalityTesting" verbose="1" parallel="false">

    <listeners>
        <listener class-name="Utilities.TestReportListener"/>
		 <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="FunctionalityTesting">
        <classes>
        
            <class name="PaymentTestCases.TC04_IssuenewguaranteewithexistingCIFID"/>

        </classes>
    </test>

</suite>
